<div *ngIf="user">
    <nav>
        <a routerLink="/user/{{user.ID}}">Mon compte</a>
        <a routerLink="/circles">Cercles</a>
    </nav>
</div>

<div *ngIf="movie">
    <h2>{{movie.Title}}</h2>
    <div><img src="{{movie.Poster}}" alt="poster-{{movie.ID}}"></div>
    <h4>Année : </h4>{{movie.Year}}
    <h4>Durée : </h4>{{movie.Runtime}} minutes
    <h4>Réalisateur(s) :</h4>
    <li *ngFor="let director of movie.Directors">
        <span>{{director}}</span>
    </li>
    <br/>
    <h4>Acteurs : </h4>
    <li *ngFor="let actor of movie.Actors">
        <span>{{actor}}</span>
    </li>
    <br/>
    <h4>Synopsis : </h4>
    <div>{{movie.Plot}}</div>
    <br/>
    <br/>
    <div *ngIf="circle">
        <h4>Avis des utilisateurs du cercle</h4>
        <li *ngFor="let rating of movie.UserRatings">
            <div><span>Avis de {{rating.Username}}</span></div>
            <div><span>Note : </span>{{rating.Value}}</div>
            <div><span>Commentaires : </span>{{rating.Comment}}</div>
            <br/>
        </li>
    </div>

    <div *ngIf="user">
        <h4>Donner son avis (ou mettre à jour)</h4>
        <div>
            <label for="rating-value">Note : </label>
            <input id="rating-value" [(ngModel)]="rating.Value" placeholder="Note" type="number" step="0.1">
        </div>
        <div>
            <label for="rating-comment">Commentaire : </label>
            <input id="rating-comment" [(ngModel)]="rating.Comment" placeholder="Commentaires">
        </div>

        <div><button (click)="save()">Enregistrer</button></div>
    </div>
</div>