<div *ngIf="user">
    <nav>
        <a routerLink="/user/{{user.ID}}">Mon compte</a>
        <a routerLink="/circles">Cercles</a>
    </nav>
</div>

<div *ngIf="movie">
    <h2>{{movie.Title}}</h2>
    <div><img src="{{movie.Poster}}" alt="poster-{{movie.ID}}"></div>
    <h4>Année : </h4>{{movie.Year}}
    <h4>Durée : </h4>{{movie.Runtime}} minutes
    <br/>
    <div *ngIf="movie.Actors.length > 0">
        <h4>Réalisateur(s) :</h4>
        <li *ngFor="let director of movie.Directors">
            <span>{{director}}</span>
        </li>
        <br/>
    </div>
    <div *ngIf="movie.Actors.length > 0">
        <h4>Acteurs : </h4>
        <li *ngFor="let actor of movie.Actors">
            <span>{{actor}}</span>
        </li>
        <br/>
    </div>
    <h4>Synopsis : </h4>
    <div>{{movie.Plot}}</div>
    <br/>
    <br/>
    <div *ngIf="user">
        <div *ngIf="movie.UserRatings?.length > 0">
            <h4>Avis des utilisateurs</h4>
            <li *ngFor="let userRating of movie.UserRatings">
                <div><span>Avis de {{userRating.Username}}</span></div>
                <div><span>Note : </span>{{userRating.Value}}</div>
                <div><span>Commentaires : </span>{{userRating.Comment}}</div>
                <div><span>Date : </span>{{userRating.UpdatedAt}}</div>
                <br/>
            </li>
        </div>
        <div *ngIf="alreadyAdded">
            <div>Retirer de ma liste<button (click)="removeFromWatchlist()"><img src="../../assets/check.png" alt="check" style="width:30px;height:30px;"></button></div>
        </div>
        <div *ngIf="!alreadyAdded">
            <div>Ajouter à ma liste<button (click)="addToWatchlist()"><img src="../../assets/add.png" alt="add" style="width:30px;height:30px;"></button></div>
        </div>
        <h4>Donner son avis (ou mettre à jour)</h4>
        <div>
            <label for="rating-value">Note : </label>
            <input id="rating-value" [(ngModel)]="rating.Value" placeholder="Note" type="number" step="0.1">
        </div>
        <div>
            <label for="rating-comment">Commentaire : </label>
            <input id="rating-comment" [(ngModel)]="rating.Comment" placeholder="Commentaires">
        </div>

        <div><button (click)="save()">Enregistrer</button></div>
    </div>
    <div *ngIf="movie.PressRatings?.length > 0">
        <h4>Avis de la presse</h4>
        <li *ngFor="let pessRating of movie.PressRatings">
            <div><span>{{pessRating.Source}} : {{pessRating.Value}}</span></div>
            <br/>
        </li>
    </div>
</div>