<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>
</head>

<body class="app">
    <div><img src="../assets/film.png" alt="logo" style="width:100px;height:100px;">
        <h1>{{title}}</h1>
    </div>
    <button class="go-back" title="go back" (click)="goBack()">Retour</button>
    <nav>
        <a routerLink="/login" routerLinkActive="active-link">Se connecter</a>
        <a routerLink="/users" routerLinkActive="active-link">Utilisateurs</a>
        <a routerLink="/movies" routerLinkActive="active-link">Médias</a>
        <a routerLink="/watchlist" routerLinkActive="active-link">Ma liste</a>
    </nav>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</body>

</html>