<div *ngIf="user">

    <nav>
        <a routerLink="/user/{{user.id}}">Mon compte</a>
        <a routerLink="/circles">Cercles</a>
    </nav>
</div>

<div *ngIf="circle">

    <h2>Cercle : {{circle.name}}</h2>
    <div>
        <label for="circle-Name">Nom du cercle : </label>
        <input id="circle-Name" [(ngModel)]="circle.name" placeholder="Name">
    </div>
    <div>
        <label for="circle-Description">Description : </label>
        <input id="circle-Description" [(ngModel)]="circle.description" placeholder="Description">
    </div>

    <button (click)="save()">save</button>
    <h4>Films : </h4>
    <nav>
        <a *ngFor="let movie of movies" routerLink="/movie/{{movie.id}}">
            <img src="{{movie.poster}}" alt="poster-{{movie.id}}" style="width:150px;height:222px;">
        </a>
    </nav>
    <div *ngIf="circle.users.length > 0">
        <h4>Utilisateurs : </h4>
        <nav>
            <a *ngFor="let user of circle.users">
        {{user.username}}
        <button class="delete" title="delete user" (click)="delete(user)">x</button>
        </a>
        </nav>
    </div>
    <div id="search-component">
        <label for="search-box">Recherche par nom d'utilisateur</label>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />

        <ul class="search-result">
            <a *ngFor="let user of users$ | async">
                {{user.username}}
                <button class="add" title="add user" (click)="add(user)">+</button>
                </a>
        </ul>
    </div>


</div>