<div *ngIf="user">

    <h2>Informations de l'utilisateur</h2>
    <div><span>id: </span>{{user.ID}}</div>
    <div>
        <label for="user-Username">Nom d'utilisateur : </label>
        <input id="user-Username" [(ngModel)]="user.Username" placeholder="Username">
    </div>
    <div>
        <label for="user-FullName">Nom complet : </label>
        <input id="user-FullName" [(ngModel)]="user.FullName" placeholder="FullName">
    </div>
    <div>
        <label for="user-Email">Email : </label>
        <input id="user-Email" [(ngModel)]="user.Email" placeholder="Email">
    </div>

    <button (click)="save()">save</button>

</div>