<div *ngIf="user">

    <nav>
        <a routerLink="/circles" *ngIf="user">Cercles</a>
    </nav>

    <h2>Informations de l'utilisateur</h2>
    <div>
        <label for="user-username">Nom d'utilisateur : </label>
        <input id="user-username" [(ngModel)]="user.username" placeholder="username">
    </div>
    <div>
        <label for="user-FullName">Nom complet : </label>
        <input id="user-FullName" [(ngModel)]="user.fullName" placeholder="FullName">
    </div>
    <div>
        <label for="user-Email">Email : </label>
        <input id="user-Email" [(ngModel)]="user.email" placeholder="Email">
    </div>

    <div><button (click)="save()">save</button></div>

</div>