<div *ngIf="user">
    <h2>Les films que j'ai noté</h2>
    <nav>
        <a *ngFor="let movie of userMovies" routerLink="/movie/{{movie.id}}">
            <img *ngIf="movie.poster" [src]="movie.poster" alt="poster-{{movie.id}}" style="width:150px;height:222px;">
        </a>
    </nav>
</div>

<h2>Trouver un média</h2>
<div id="search-component">
    <div>
        <label>Type</label>
        <select name="mediaType" [(ngModel)]="mediaType">
            <option value="movie">Film</option>
            <option value="series">Série</option>
            <option value="episode">Episode</option>
        </select>
    </div>
    <label for="search-box">Recherche par titre</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
        <li *ngFor="let movie of (movies$ | async)?.Search ">
            <a routerLink="/movie/{{movie.id}}">
                <img src="{{movie.poster}}" alt="poster-{{movie.id}}" style="width:100px;height:150px;">{{movie.Title}}
            </a>
        </li>
    </ul>
</div>