<app-navigation-bar></app-navigation-bar>
<h2>Trouver un média</h2>
<div id="search-component">
    <div>
        <label>Type</label>
        <select name="mediaType" [(ngModel)]="mediaType">
            <option value="movie">Film</option>
            <option value="series">Série</option>
            <option value="episode">Episode</option>
        </select>
    </div>
    <label for="search-box">Recherche par titre</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

    <ul class="search-result">
        <li *ngFor="let movie of (movies$ | async)?.search ">
            <a routerLink="/movie/{{movie.id}}">
                <img src="{{movie.poster}}" alt="poster-{{movie.id}}" style="width:100px;height:150px;">{{movie.title}}
            </a>
        </li>
    </ul>
</div>